$anchopagina: 99%;
$fonttexto: 18px;
$fonttitulo:35px;
$fontparrafo:20px;
$fonttextopequeno:15px;


.row{
    padding: 0% !important;
    margin: 0% !important;
}
header{ 
    display: flex
    
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 55px ;
    margin-left: 50px ;
    margin-bottom: 35px ;
}
nav{
    margin-top: 60px;
    margin-left: 15%;

}
.navbar-nav .nav-link{
    font-size: $fontparrafo;
}


h1 {
    margin: auto;
    width: 90%;
    font-size: $fonttitulo;
    text-align: center;
    letter-spacing: 5px; 
    margin-top: 35px;       
}
p{
    font-size: $fontparrafo;
    margin: auto;
    text-align: justify;
    justify-content: center;
    width: 92%;
}
//SECCION index MATE//
.mate{
    
    display: flex;
    
    .mate__parrafo{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 35px;  
    }
    .foto__uno{
        margin-top: 40px ;
    }
    .foto__dos{
        margin-top: 40px ;
    }

}


//SECCION INDEX PROYECTOS//
.proyectos__titulo{
    margin-top: 55px;
    margin-bottom: 35px;
}

.carousel{
    width: 98%;
    margin-left: 15px !important ;
   
}

//PAGE PROYECTOS//

.proyectos__carrousel{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;       
}
.proyectos__parrafo{
    margin-top: 40px;
    text-align: center;
    letter-spacing: 1px; 
    font-size: 35px !important; 
}
.foto{
    margin: 15px;     
}


[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .70s;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}

//PAGE NOSOTROS//
.nosotros__titulo{
    margin-top: 55px;
    margin-bottom: 35px;
}
.nosotros__parrafo{
    margin: auto;
    
}
.proyectos__parrafo{
    margin-bottom: 15px;
}
.nosotros__parrafo{
    margin-bottom: 15px;
}
.cards-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    margin: 10px
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}


h3{
    font-size: $fontparrafo;
    text-align: center;

}
/*PAGE SERVICIOS*/
.titulo__servicios{
    margin-top: 55px;
    margin-bottom: 35px;
}
.cards__servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
//PAGE CONTACTO//
.titulo__contacto{
    margin-top: 55px;
    margin-bottom: 35px;
}
.contacto{
    padding: 35px;
}
form{
    width: $anchopagina;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}
.btn-primary--contacto{
    width: 15%;
    align-items: center;
    align-content: center;
    justify-content: center;

} 

.form-group{
    width: 50%;
    display: block;
}


//FOOTER//



h6{
    text-align: center;
}

.footer{
    margin-top: 35px
    
}
.footer__logo{
    margin-top: 35px !important;
    margin-left: 35px !important;
    margin-bottom: 35px !important;
    display: inline;
}
h5{
    display: block;
    font-size: $fonttexto;
    text-align: center;
    margin-top: 25px
}
.footer__contacto{
    display: inline;
    font-size: $fonttexto;
    
    .contacto{
        margin: 10px;
        text-align: center;
        padding: 0px !important;
    }
    
}
.footer--iconos{
    display: inline;
   text-align: center;
   margin-left: 165px;

}